<div class='sidenav h-100'>
  <div class='sidenav__sticky'>

    <nav class='pb-3'>
      <ul>
        <% if user_signed_in? %>
          <li>
            <%= link_to home_path, class: "sidenav__link" do %>
              <div class='sidenav__icon-outer'>
                <i class="fas fa-home sidenav__icon"></i>
              </div>
              <div class='sidenav__text'>ホーム</div>
            <% end %>
          </li>
          <li>
            <%= link_to posts_path, class: "sidenav__link" do %>
              <div class='sidenav__icon-outer'>
                <i class="fas fa-search sidenav__icon"></i>
              </div>
              <div class='sidenav__text'>検索</div>
            <% end %>
          </li>
          <li>
            <%= link_to notifications_path, class: "sidenav__link" do %>
              <div class='sidenav__icon-outer'>
                <% if unchecked_notifications.any? %>
                  <span class="position-relative">
                    <i class="far fa-bell sidenav__icon"></i>
                    <i class="fas fa-circle sidenav__icon-circle position-absolute"></i>
                  </span>
                <% else %>
                  <i class="far fa-bell fa-lg"></i>
                <% end %>
              </div>
              <div class='sidenav__text'>通知</div>
            <% end %>
          </li>
          <li>
            <%= link_to favorites_user_path(user), class: "sidenav__link" do %>
              <div class='sidenav__icon-outer'>
                <i class="far fa-bookmark sidenav__icon"></i>
              </div>
              <div class='sidenav__text'>ブックマーク</div>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(user), class: "sidenav__link" do %>
              <div class='sidenav__icon-outer'>
                <%= attachment_image_tag(user, :profile_image, format: "jpg", size: "35x35", fallback: "no-image-icon.jpg", size: "35x35", class: "rounded-circle border") %>
              </div>
              <div class='sidenav__text'>マイページ</div>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, class: 'sidenav__link' do %>
              <div class='sidenav__icon-outer'>
                <i class='fas fa-sign-out-alt sidenav__icon'></i>
              </div>
              <div class='sidenav__text'>ログアウト</div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class='sidenav__post-box'>
      <%= link_to 'New Post', new_post_path, remote: true, class: 'sidenav__post-btn btn__purple' %>
      <%= link_to '', new_post_path, remote: true, class: 'far fa-plus-square sidenav__post-icon' %>
    </div>

    <footer class='sidenav__footer text-center'>
      <p class='sidenav__footer-text text-muted'>Copyright © 2021 Change All Rights Reserved.</p>
    </footer>

  </div>
</div>

<!-- モーダルウィンドウ(新規投稿) -->
<div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>