<div class="post-item mb-5 border">
  <div class="post-header p-2">
    <%= link_to user_path(post.user) do %>
      <%= attachment_image_tag post.user, :profile_image, format: "jpg", size: "32x32", fallback: "no-image-icon.jpg", size: "32x32", class: "rounded-circle border" %>
      <span class="font-weight-bold ml-2"><%= post.user.name %></span>
    <% end %>
    <span class="small text-muted"> - <%= time_ago_in_words(post.created_at) %>前</span>
    <% if post.user == current_user %>
      <%= link_to "", edit_post_path(post), class: "far fa-edit" %>
    <% end %> </br>
    <%= render_with_hashtags(safe_join(post.caption.split("\n"), tag(:br))) %>
  </div>

  <%= link_to post_path(post), remote: true do %>
    <ul class="post-images d-flex align-items-center border-top border-bottom">
      <li><%= attachment_image_tag(post, :before_image) %></li>
      <li><%= attachment_image_tag(post, :after_image) %></li>
    </ul>
  <% end %>
  <!-- 投稿詳細モーダルウィンドウの表示領域 -->
  <div id="post-detail" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div id="post_<%= post.id %>" class="post-footer">
    <span class="like-btn">
      <%= render "public/likes/like-btn", post: post %>
    </span>

    <i class="far fa-comment comments-count"><%= post.comments.count %>コメント</i>

    <span class="favorite-btn">
      <%= render "public/favorites/favorite-btn", post: post %>
    </span> </br>

    <span class="comments">
      <%= render "public/comments/index", post: post %>
    </span>

    <%= form_with model:[post, comment] do |f| %>
      <%= f.text_area :comment, size: "72x2", placeholder: "コメントを追加" %>
      <%= f.submit "投稿" %>
    <% end %>
  </div>
</div>