<div class="search-form text-center">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "\uf002 検索", class: "text-center fas py-1" %>
    <% f.submit %>
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <%= render "post-item", { post: post, comment: @comment } %>
  <% end %>
  <%= link_to_prev_page @posts, "<< prev" %>
  <%= link_to_next_page @posts, "next >>" %>
</div>