<div class='position-relative px-2'>
  <% comment_user = comment.user %>
  <%= link_to user_path(comment_user), class: "user_#{comment_user.id}" do %>
    <%= image_tag comment_user.profile_image_url, format: "jpg", size: "22x22", fallback: "no-image.jpg", size: "22x22", class: "rounded-circle" %>
  	<%#= attachment_image_tag comment_user, :profile_image, size: "22x22", fallback: "no_image.jpg", size: "22x22", class: "rounded-circle" %>
  	<span class="font-weight-bold pr-1"><%= comment_user.name %></span>
  <% end %>
  <span class='text-break'><%= comment.comment %></span>
  <% if current_user == comment_user %>
     <%= link_to "", post_comment_path(comment.post_id, comment.id), method: :delete, remote: true, class: "far fa-trash-alt link__right" %>
  <% end %>
  </br>
</div>