<% provide(:title, "フォロー中") %>

<div class='home'>
  <div class='home__box'>

    <div class='home__side-nav'>
      <%= render 'public/shared/side-nav', user: current_user %>
    </div>

    <div class='home__main bg-white'>
      <h5 class='p-3'>
        <%= link_to '←', 'javascript:history.back()', class: 'link__purple' %>
        <span class='pl-3 font-weight-bold'>フォロー中</span>
      </h5>
      <% if @users.exists? %>
        <%= render partial: 'public/users/index', collection: @users, as: 'user' %>
        <div class='text-center py-4'>
          <%= link_to_prev_page @users, '<< prev' %>
          <%= link_to_next_page @users, 'next >>' %>
        </div>
      <% else %>
        <p>フォロー中のユーザーはいません</p>
      <% end %>

      <%= render 'public/shared/footer' %>
    </div>

    <div class='home__bottom-nav'>
      <%= render 'public/shared/bottom-nav', user: current_user %>
    </div>

  </div>
</div>