<div class='main-visual'>
  <!--左側-->
  <div class='main-visual__box-1'>
    <div class='main-visual__box-1-content'>
      <%= image_tag "/assets/logo-sm.png" %>
    </div>
  </div>

  <!--右側-->
  <div class='main-visual__box-2 bg-white'>
    <%= render 'layouts/flash-messages' %>
    <div class='main-visual__box-2-content text-center p-3'>
      <div class='main-visual__box-2-header mb-5'>
        <h1 class='font-weight-bold my-5'>すべての変化が、ここに。</h1>
        <h3 class='font-weight-bold my-3'>Changeをはじめよう</h3>
      </div>

      <div class='main-visual__box-2-btn p-3'>
        <%= link_to '新規登録', new_user_registration_path, class: 'btn__sign-up' %>
        <br>
        <br>
        <br>
        <%= link_to 'ログイン', new_user_session_path, class: 'btn__follow' %>
        or
        <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: 'btn__unfollow' %>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>