<table class='table table-borderless'>
  <tbody>
    <tr id="user_<%= user.id %>">
      <td class='w-25 text-center'>
        <%= link_to user_path(user) do %>
          <%= image_tag user.profile_image_url, format: "jpg", size: "35x35", class: "rounded-circle shadow" %>
        <% end %>
      </td>
      <td class='w-25'><%= link_to user.name, user_path(user) %></td>
      <td class="w-50 text-center follow-btn"><%= render "public/users/follow-btn", user: user %></td>
      <td></td>
    </tr>
  </tbody>
</table>