<% provide(:title, "#{@user.name}") %>

<div class='home'>
  <div class='home__box'>

    <div class='home__side-nav'>
      <%= render 'public/shared/side-nav', user: current_user %>
    </div>

    <div class='home__main d-flex'>

      <div class='home__main-contents'>
        <% if flash[:notice] %>
          <p class="text-success"><%= flash[:notice] %></p>
        <% end %>
        <%= render "user-info", user: @user %>
        <div class="posts jscroll mt-4">
          <%= render partial: "public/posts/post-item", collection: @posts, as: "post" %>
          <%= link_to_next_page @posts, "next >>", class: "next" %>
        </div>
      </div>

      <aside class='home__main-aside'>
        <%= render 'public/shared/main-aside', users: @users %>
      </aside>
    </div>

    <div class='home__bottom-nav'>
      <%= render 'public/shared/bottom-nav', user: current_user %>
    </div>

  </div>
</div>