<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-light">
      <header class='header border-bottom bg-white'>
        <% if admin_signed_in? %>
          <%= render 'layouts/header-admin' %>
        <% elsif user_signed_in? %>
          <%= render 'layouts/header-user' %>
        <% end %>
      </header>

      <% if admin_signed_in? %>
        <div class="mx-auto">
          <%= yield %>
        </div>
      <% else %>
      <main class="contents">
        <h5>
          <% if request.path.include?("edit") || request.path.include?("follow") || request.path.include?("search") %>
            <%= link_to "â†", 'javascript:history.back()' %>
          <% end %>
          <%= yield(:title) %>
        </h5>
        <%= yield %>
      </main>
      <% end %>
    </div>
  </body>
</html>
