<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <div class="bg-light">
      <!--ヘッダー-->
      <% if admin_signed_in? %>
        <%= render 'layouts/header-admin' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/header-user' %>
      <% end %>

      <!--メイン-->
      <main><%= yield %></main>

      <!-- モーダルウィンドウ(新規投稿) -->
      <div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
  </body>
</html>
