<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in? %>
        <%= render 'layouts/header-admin' %>
      <% elsif user_signed_in? %>
        <%= render 'layouts/header-user' %>
      <% end %>
    </header>

    <div class="wrapper mt-5">

      <% if admin_signed_in? %>
        <div class="mx-auto">
          <%= yield %>
        </div>
      <% else %>
      <main class="contents">
        <h5>
          <% if request.path.include?("edit") || request.path.include?("follow") || request.path.include?("search") %>
            <%= link_to "←", 'javascript:history.back()' %>
          <% end %>
          <%= yield(:title) %>
        </h5>
        <div class="mt-5">
          <%= yield %>
        </div>
      </main>
      <% end %>

      <% unless admin_signed_in? %>
      <aside>
        <h5>おすすめ</h5>
        <%= link_to "すべて見る", users_path %> </br>
        <% @users.first(5).each do |user| %>
          <div id="user_<%= user.id %>">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, format: "jpg", size: "22x22", fallback: "no-image-icon.jpg", size: "22x22", class: "rounded-circle border" %>
              <%= user.name %>
            <% end %>
            <% if user_signed_in? %>
              <span class="follow-btn">
                <%= render "public/users/follow-btn", user: user %>
              </span>
            <% end %>
          </div>
        <% end %>
      </aside>
      <% end %>

    </div>
  </body>
</html>
