<!DOCTYPE html>
<html>
  <head>
    <title>Change</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <div class="headnav text-right">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to new_user_session_path, class: "btn btn-primary" do %>
            <i class="fas fa-sign-in-alt">Log in</i>
          <% end %>
        <% end %>
      </div>
    </header>

    <div class="wrapper mt-5">

      <nav class="sidenav">
        <ul>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-home">ホーム</i>
            <% end %>
          </li>
          <li>
            <%= link_to posts_path do %>
              <i class="fas fa-search">検索</i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="far fa-bell">通知</i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="far fa-bookmark">ブックマーク</i>
            <% end %>
          </li>
          <li>
            <%= link_to root_path do %>
              <i class="fas fa-users">ユーザー</i>
            <% end %>
          </li>
          <% if user_signed_in? %>
          <li>
            <%= link_to "New Post", new_post_path, remote: true, class: "btn btn-success" %>
          </li>
          <!-- 新規投稿作成のモーダルウィンドウの表示領域 -->
          <div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <% end %>
        </ul>
      </nav>

      <main class="contents">
        <%= yield %>
      </main>

      <aside>
        <ul>
          <li>recommend user1</li>
          <li>recommend user1</li>
          <li>recommend user1</li>
          <li>recommend user1</li>
        </ul>
      </aside>

    </div>
  </body>
</html>
