<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="fixed-top">
      <div class="headnav text-right">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to new_user_session_path, class: "btn btn-primary" do %>
            <i class="fas fa-sign-in-alt">Log in</i>
          <% end %>
        <% end %>
      </div>
    </header>

    <div class="wrapper mt-5">

      <nav class="sidenav">
        <ul>
          <li><%= link_to "ホーム", root_path, class: "fas fa-home" %></li>
          <li><%= link_to  "検索", posts_path, class: "fas fa-search" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "通知", root_path, class: "far fa-bell" %></li>
            <li><%= link_to "ブックマーク", favorites_user_path(@user), class: "far fa-bookmark" %></li>
            <li><%= link_to "マイページ", user_path(current_user), class: "far fa-user" %></li>
            <li><%= link_to "New Post", new_post_path, remote: true, class: "btn btn-success" %></li>
            <!-- 新規投稿作成のモーダルウィンドウの表示領域 -->
            <div id="new-post" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
          <% end %>
        </ul>
      </nav>

      <main class="contents">
        <h5><%= yield(:title) %></h5>
        <%= yield %>
      </main>

      <aside>
        <h5>おすすめ</h5>
        <%= link_to "すべて見る", users_path %> </br>
        <% @users.first(5).each do |user| %>
          <div id="user_<%= user.id %>">
            <%= link_to user_path(user) do %>
              <%= attachment_image_tag user, :profile_image, format: "jpg", size: "22x22", fallback: "no-image-icon.jpg", size: "22x22", class: "rounded-circle border" %>
              <%= user.name %>
            <% end %>
            <% if user_signed_in? %>
              <span class="follow-btn">
                <%= render "public/users/follow-btn", user: user %>
              </span>
            <% end %>
          </div>
        <% end %>
      </aside>

    </div>
  </body>
</html>
